:root {
    --primary-color: #0f5b99;
    --white-color: #ffffff;
    --color-text: #000000;
    --height-header-top: 44px;
    --color-button: #0c3175;
    --color-yellow: #ff9f00;
    --color-gray: #ebebeb;
    --color-blue: #0f5b9a;
    --color-red: #ed1b24;
    --backgroud-gray: #f4f4f4;
    --navbar-width: 296px;
    --slider-banner-width: 602px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    line-height: 1.6rem;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes FadeInTop {
    from {
        transform: translateY(-42px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

span.blue {
    color: #3498db;
    font-size: 14px;
    font-weight: bold;
}

span.red {
    color: #e74c3c;
    font-size: 14px;
    font-weight: bold;
}

span.orange {
    color: #ffb233;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.header-nav {
    background-color: #f4f4f4;
    padding: 8px 0;
}

.header__main {
    padding-bottom: 15px;
}

.header__main-nav {
    padding-left: 12px;
    display: flex;
}

.header__main-nav-icon {
    padding: 0 12px;
    font-size: 1.1rem;
}

.header__main-nav-link {
    text-decoration: none;
    color: #666666;
    font-size: 1.6rem;
}

.header {
    box-shadow: 0px 0px 5px 0px #ccc;
}


/* Header*/

.header__top {
    background-color: var(--primary-color);
    height: var(--height-header-top);
    display: flex;
    align-items: center;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
}

.header__top-list {
    list-style: none;
    display: flex;
}

.header__top-item {
    margin-right: 10px;
    cursor: pointer;
}

.header__top-link {
    text-decoration: none;
    color: var(--color-text);
    padding: 0 15px;
    display: block;
    padding: 0 15px;
    background-color: var(--color-button);
    border-radius: 16px;
    /* margin-right: 10px; */
}

.header__top-link--discoloration {
    background: repeating-linear-gradient(to right, #fd9a02 0, #a72347 25%, #0d3175 50%, #a72347 75%, #fd9a02 100%);
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    -webkit-animation: gradient 2s infinite;
    animation: gradient 2s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.header__top-link-item {
    display: flex;
    align-items: center;
}

.header__top-link-icon {
    color: var(--white-color);
    margin: 0 3px 0 0;
    font-size: 1.6rem;
    margin-right: 4px;
}

.header__top-link-text {
    font-size: 1.5rem;
    line-height: 32px;
    color: var(--white-color);
}

.header__top-account {
    position: relative;
}

.header__top-account-icon {
    font-size: 1.8rem;
    line-height: 32px;
    color: var(--white-color);
    margin-right: 4px;
}

.header__top-account-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    line-height: 18px;
}

.header__top-account-link--uppercase {
    text-transform: uppercase;
}

.header__top-account-list {
    position: absolute;
    top: 37px;
    left: 0;
    width: 150px;
    background-color: var(--primary-color);
    list-style: none;
    z-index: 2;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    display: none;
}

.header__top-account-list::before {
    position: absolute;
    display: block;
    content: "";
    width: 150px;
    height: 30px;
    top: -22px;
    left: 0;
}

.header__top-account-item-link {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFF;
}

.header__top-account-item-link:hover {
    background-color: #3498db;
}

.header__top-account:hover .header__top-account-list {
    display: block;
}


/* Header main */

.header__main-container {
    background-color: var(--white-color);
    padding: 10px 0px;
}

.header__main {
    display: flex;
    align-items: center;
}

.header__main-img {
    width: 287px;
    height: auto;
    cursor: pointer;
}

.header__main-search {
    flex: 1;
    padding: 0 30px;
}

.header__main-search-group {
    display: flex;
    height: 50px;
    font-size: 2rem;
}

.header__main-search-input {
    padding: 0 10px;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    border-radius: 10px 0 0 10px;
    border-right: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__main-search-icon {
    line-height: 50px;
    width: 72px;
    text-align: center;
    background-color: var(--color-yellow);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.header__main-search-icon i {
    font-size: 1.5rem;
}

.header__main-search-tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
}

.header__main-search-tag-item {
    padding: 0 10px;
    line-height: 26px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #555555;
    background-color: var(--color-gray);
    border-radius: 5px;
    margin: 1px 5px 0 0;
    cursor: pointer;
}

.header__main-options {
    display: flex;
    align-items: center;
}

.header__main-options-item {
    text-align: center;
    text-decoration: none;
    color: var(--color-text);
}

.header__cart {
    position: relative;
}

.header__main-options-item+.header__main-options-item {
    margin-left: 30px;
}

.header__main-options-icon {
    font-size: 3rem;
    color: var(--primary-color);
}

.header__main-options-text {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.header__cart-count {
    position: absolute;
    top: -8px;
    right: 10px;
    font-size: 1.4rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--color-yellow);
    border-radius: 50%;
}

.header-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 10px 0px;
    box-shadow: 0px 0px 5px 0px #ccc;
    display: none;
    z-index: 2;
}

.header-fix--active {
    display: block;
    animation: FadeInTop ease 0.05s;
}

.header__main-list {
    position: relative;
    width: 287px;
}

.header-fix__navbar {
    position: absolute;
    top: 60px;
    left: -1px;
    display: none;
}

.header-fix__navbar::after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    width: 303px;
    height: 30px;
    z-index: 1;
}

.header__main-list:hover .header-fix__navbar {
    display: block;
}

.header__main-list-title {
    height: 42px;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-weight: 900;
}

.header__main-list-icon {
    font-size: 2rem;
    color: var(--white-color);
}

.header__main-list-text {
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__main-down-icon {
    font-size: 1.2rem;
    color: var(--white-color);
}


/* content */

.content {
    background-color: var(--backgroud-gray);
    padding: 12px 0px;
}


/* Nav bar */

.navbar {
    position: relative;
    width: var(--navbar-width);
    border-radius: 14px;
    background-color: var(--white-color);
    flex-shrink: 0;
    z-index: 1;
}

.navbar__list {
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    display: block;
    padding: 0 50px 0 12px;
    line-height: 43px;
}

.navbar__item:first-child .navbar__link {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.navbar__item:last-child .navbar__link {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.navbar__link:hover {
    background-color: var(--primary-color);
}

.navbar__link:hover .navbar__name {
    color: var(--white-color);
}

.navbar__icon,
.navbar__name {
    display: inline-block;
    line-height: 43px;
    color: #444;
}

.navbar__icon {
    padding-right: 20px;
    font-size: 1.8rem;
}

.navbar__name {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
}


/* Navbar sub */

.navbar__sub {
    position: absolute;
    padding-right: 5px;
    left: var(--navbar-width);
    height: 100% !important;
    top: 0;
    width: calc(1200px - var(--navbar-width) + 1px);
    background-color: var(--white-color);
    display: none;
}


/* .navbar__sub .grid {
    background-color: var(--white-color);
} */

.navbar__sub .row {
    margin-left: 0;
    margin-right: 0;
}

.navbar__item:hover .navbar__sub {
    display: block;
}

.navbar__sub-item {
    padding: 12px 0;
}

.navbar__item-title,
.navbar__item-link {
    font-size: 1.4rem;
    margin: 0 0 8px;
    line-height: 21px;
}

.navbar__item-title {
    color: var(--primary-color);
    font-weight: 500;
}

.navbar__item-link {
    color: var(--color-text);
    display: block;
    text-decoration: none;
}

.navbar__item-link:hover {
    color: var(--primary-color);
}


/* Footer */

.footer__policy {
    padding: 50px 0;
    background-color: var(--primary-color);
}

.footer__policy-group {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__policy-item {
    display: flex;
    align-items: center;
}

.footer__policy-icon {
    font-size: 6.2rem;
    color: var(--white-color);
    margin-right: 10px;
}

.footer__policy-title,
.footer__policy-des {
    color: var(--white-color);
}

.footer__policy-title {
    font-size: 1.4rem;
    font-weight: 900;
}

.footer__policy-des {
    font-size: 1.3rem;
    margin-top: 4px;
}

.footer__menu {
    padding: 20px 0;
    border-bottom: dashed 1px #e1e1e1;
}

.footer__menu-title {
    position: relative;
    font-size: 1.6rem;
    margin: 0 0 15px;
    font-weight: 700;
}

.footer__menu-title::after {
    position: absolute;
    bottom: -6px;
    left: 0px;
    content: '';
    width: 110px;
    height: 2px;
    background: var(--color-blue);
}

.footer__menu-link {
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 0 15px;
    color: var(--color-text);
    display: block;
}

.footer__menu-link:hover {
    color: var(--color-blue);
}

.footer__menu-socials {
    display: flex;
}

.footer__menu-social {
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 3rem;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer__menu-social+.footer__menu-social {
    margin-left: 5px;
}

.footer__showroom-header {
    position: relative;
    margin: 40px 0px;
    font-size: 2.6rem;
    color: var(--primary-color);
    text-align: center;
    font-weight: 900;
    line-height: 26px;
}

.footer__showroom-header::after {
    position: absolute;
    content: "";
    display: block;
    width: 110px;
    height: 2px;
    background-color: var(--primary-color);
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}

.footer__showroom-title {
    display: flex;
    margin-bottom: 28px;
}

.footer__showroom-num,
.footer__showroom-name {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 48px;
}

.footer__showroom-num {
    width: 42px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--color-yellow);
}

.footer__showroom-name {
    width: 270px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer__showroom-img {
    width: 100%;
    margin-bottom: 12px;
}

.footer__showroom-content {
    display: flex;
    margin: 0 0 10px;
    align-items: center;
    padding-right: 8px;
}

.footer__showroom-content-icon {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-right: 10px;
}

.footer__showroom-content p {
    font-size: 1.5rem;
}

.footer__contact {
    padding: 20px 0px;
    background-color: #f4f4f4;
    margin-top: 30px;
}

.footer__contact-text {
    font-size: 1.4rem;
    margin: 10px 0;
}

.footer__contact-text span {
    color: #007bff;
    font-size: 1.4rem;
}

.footer__contact-head {
    margin: 10px 0;
    font-size: 2rem;
}


/* Model */

.model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    display: none;
    z-index: 10;
}

.model.model--active {
    display: block;
}

.model__container {
    margin: 6px auto;
    padding: 6px;
    background-color: var(--white-color);
}

.model__header--boder {
    border-bottom: 1px solid #e1e1e1;
}

.model__header {
    position: relative;
}

.model__header-head {
    font-size: 2rem;
    padding: 15px;
}

.model__header-close {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.model__header-icon {
    font-size: 1.8rem;
    color: #666;
}

.model__content {
    padding: 15px;
    font-size: 1.4rem;
}

.model__item {
    width: 100%;
    padding: 0 0 5px;
}

.model__item-content {
    font-size: 1.4rem;
    margin: 0 0 5px;
}

.model-item-map {
    width: 100%;
    padding-top: 67.5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.model__title {
    margin: 0 0 10px;
    padding: 0 0 5px;
    font-size: 1.4rem;
    font-weight: 800;
    border-bottom: 1px solid #e1e1e1;
}

.model__item-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.model__content-item {
    margin-bottom: 30px;
}


/* Social Fix */

.social-fix {
    position: fixed;
    right: 20px;
    bottom: 100px;
}

.social-fix__link {
    width: 34px;
    margin-bottom: 6px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
}

.social-fix__link--hidden {
    display: none;
}